<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script>
    function rowClicked(accountNumber) {
        location.href = "/accounts/" + accountNumber;
    }
</script>

<head>
    <title>Account List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px;">
        <h2 class="text-center"><b>Account List</b></h2>
        <br/>

        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Account Number</th>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Balance Date</th>
                <th>Currency</th>
                <th class="text-right">Opening Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}" style="cursor: pointer"
                th:onclick="'javascript:rowClicked(\'' + ${account.accountNumber} + '\');'">
                <td th:text="${account.accountNumber}"/>
                <td th:text="${account.accountName}"/>
                <td th:text="${account.accountType}"/>
                <td th:text="${account.formatBalanceDate()}"/>
                <td th:text="${account.currency}"/>
                <td th:align="right" th:text="${account.balance}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>